/* .header {
    background-color: #082f49;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 30px;
    border-bottom: 3px solid #0dcaf0;
} */