.login-page {
    background: linear-gradient(135deg, #e0f7fa, #ffffff);
    font-family: "Poppins", sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 150, 136, 0.15);
    width: 500px;
    height: 400px;
    text-align: center;
    border-top: 5px solid #009688;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #004d40;
    font-weight: 600;
    font-size: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b2dfdb;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
    transition: border 0.3s, box-shadow 0.3s;
}

.login-form input:focus {
    border-color: #009688;
    box-shadow: 0 0 4px rgba(0, 150, 136, 0.4);
}


.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    color: #00796b;
    transition: 0.2s;
}

.toggle-password:hover {
    transform: scale(1.1);
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.login-form button:hover {
    background-color: #00796b;
}


.forgot-password {
    margin-top: 15px;
    margin-left: 300px;
    color: #009688;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    transition: color 0.3s;
}

.forgot-password:hover {
    color: #00796b;
    text-decoration: none;
}